.basic{
    padding: 120px 24px 0 24px;
}
.basic__block{
   text-align: start; 
   margin-left: auto;
   margin-right: auto;
}
.basic__title{
    font-weight: 900;
font-size: 24px;
line-height: 117%;
color: #83888f;
margin-bottom: 32px;
}
.basic__item{
    padding: 24px 25px;
    border-radius: 8px;
width: 328px;
height: 140px;
background-color: #f4f1eb;
}
.basic__item:not(:last-child){
    margin-bottom: 16px;
}
.basic__item:hover{
background-color:  #0e8784;
}
.basic__sub_title{
    font-weight: 900;
font-size: 24px;
line-height: 133%;
color: #333d4b;
}
.basic__text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: #333d4b;
margin-top: 8px;
}
.basic__sub_title:hover{
    font-weight: 900;
font-size: 24px;
line-height: 133%;
color: #fff;
}
.basic__text:hover{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 162%;
color: #fff;
margin-top: 8px;
}
.basic__sub_list{
    display: none;
}
.basic__story{
    margin-top: 120px;
    padding: 32px 24px;
    background-color: #2C343E;
    border-radius: 10px;
    margin-bottom: 56px;
}
.basic__story_text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 16px;
line-height: 162%;
text-transform: uppercase;
color: #fff;
opacity: 0.5;
}
.basic__story_title{
    font-weight: 900;
font-size: 24px;
line-height: 167%;
color: #fff;
margin-top: 8px;
}
.bb{
    color: #0e8784;
}
@media screen and (min-width:768px) {
    .basic{
        padding: 144px 40px 0 40px;
    }
    .basic__title{
        margin-bottom: 40px;
    }
    .basic__list{
        display: flex;
        gap: 10px;
    }
    .basic__item{
        padding: 32px 26px 84px 25px;
        border-radius: 8px;
        width: 223px;
        height: 250px;
    background-color: #f4f1eb;
    }
    .basic__story{
        margin-top: 144px;
        padding: 27px 43px;
        margin-bottom: 40px;
    }
}
@media screen and (min-width:1100px) {
    .basic{
        padding: 152px 165px 0 165px;
    }
    .basic__title{
        font-weight: 900;
font-size: 40px;
line-height: 120%;
color: #83888f;
        margin-bottom: 56px;
    }
    .basic__list{
        display: flex;
        gap: 10px;
    }
    .basic__item{
        padding: 32px 28px 84px 28px;
        border-radius: 8px;
        width: 223px;
        height: 250px;
    background-color: #f4f1eb;
    margin: 0;
    }
    .basic__container{
        display: flex;
        gap: 125px;
    }
    .basic__sub_list{
        display: block;
    }
    .basic__sub_link{
        font-weight: 900;
font-size: 24px;
line-height: 133%;
color: #333d4b;
opacity: 0.4;
margin-top: 24px;
margin-bottom: 24px;
    }
    .basic__sub_link:hover{
        color: #333d4b;
        opacity: 2;
    }
    .basic__story{
        max-width: 699px;
        margin-top: 88px;
        padding: 47px 64px;
        margin-bottom: 40px;
    }
}

