.plan__service{
    padding: 0;
}
.plan__service_block{
    background-color: #2C343E;
    padding: 80px 24px;
    text-align: center;
    border-radius: 10px;

}
.plan__service_sub_title{
    font-weight: 900;
font-size: 28px;
color: #fff;
padding-bottom: 24px;
padding-top: 24px;
}
.plan__service_sub_text{
    font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 167%;
color: #fff;
}
@media screen and (min-width:768px) {
    .plan__service_block{
        text-align: start;
        padding: 97px 40px 70px 40px;
    }
}
@media screen and (min-width:1100px) {
    .plan__service_block{
        text-align: start;
        padding: 100px 150px 100px 85px;
    }
}
